Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: '100'
IndentWidth: '4'
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: 'false'
AllowAllArgumentsOnNextLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
SortIncludes: false
SpaceAfterCStyleCast: 'false'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesInParentheses: 'false'
TabWidth: '4'
UseTab: ForContinuationAndIndentation
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false
PointerAlignment: Left